{% extends 'base.html' %}
{% load static %}

{% block title %}
 Contact List
{% endblock %}


{% block content %}
<div class="container-fluid">

    <div class="row">
        <div class="col-md-10">
            <div class="pull-right">
                <a class="btn btn-primary btn-block" href="{% url 'contacts:create' %}">Create New Contact</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Contacts List</h1>
            <hr>
        </div>
    </div>

     {% if messages %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {% for message in messages %}
                    <div class="alert alert-dismissible alert-{{ message.tags }}">
                    <button type="button" class="close" data-dismiss="alert">X</button>
                    <p>{{ message }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="row">
       <div class="col-md-10 col-md-offset-1">
            <table class="table table-bordered table-striped table-responsive">
               <tr>
                   <th>Full Name</th>
                   <th>Address</th>
                   <th>Email</th>
                   <th>Mobile</th>
                   <th>Alternate Mobile</th>
                   <th>Company</th>
                   <th>Actions</th>

               </tr>
               {% for list in lists %}
                   <tr>
                       <td>{{ list.get_full_name }}</td>
                       <td>{{ list.address }}</td>
                       <td>{{ list.email }}</td>
                        <td>{{ list.mobile }}</td>
                        <td>{{ list.alternate_mobile }}</td>
                        <td>{{ list.company }}</td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="{% url 'contacts:edit' list.pk %}"><span>Edit</span></a>
                            <a class="btn btn-danger btn-sm" href="{% url 'contacts:delete' list.pk %}"><span>Delete</span></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    


</div>
{% endblock %}
